@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <img src="images/Error.jpg" alt="Picture of 404 error" id="icon">
    <h1 class="text-danger">Whoops, something went wrong!</h1>
    <h4>Please try your request again.</h4>
</div>

<div class="text-right">
    <a asp-action="Index" class="btn btn-outline-dark btn-sm">Back to Home</a>
</div>