@model ToDoList

@{
    ViewData["Title"] = "Copy List";
}

<h1>Copy</h1>

<h4>Do you want copy list "@Model.Name"?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Copy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListId" />
            <div>
                <form asp-action="Copy">
                    <input type="hidden" asp-for="ListId" />
                    <input type="submit" value="Copy" class="btn btn-outline-dark" />
                    <a href="javascript:history.go(-1)" class="btn btn-outline-dark btn-sm">Back</a>
                </form>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
